In [266]:
from selenium import webdriver
chrome_path =r'C:\users\deguz\scraping\chromedriver.exe'

In [268]:
driver = webdriver.Chrome(chrome_path)
driver.get('https://www.squarefoot.com.hk/haunted/')

In [269]:
#Get the table 
cleandata=[]
def get_table(cleandata):
    data = []
    for tr in driver.find_elements_by_xpath('//*[@id="left_content"]/div[3]/table'):
        tds = tr.find_elements_by_tag_name('td')
        if tds: 
            data.append([td.text for td in tds])
    data = [y for x in data for y in x]
    del data[0]
    del data[-1]
    cleandata.append(data)

In [272]:
#Run once for the first page
get_table(cleandata)
driver.find_element_by_xpath('//*[@id="searchOptions"]/li/a').click()

In [273]:
#Run for subsequent pages
while True:
    get_table(cleandata)
    try:
        driver.find_element_by_xpath('//*[@id="searchOptions"]/li/a[2]').click()
    except:
        print('success!')
        break

success!

In [274]:
save = cleandata

In [276]:
#Flatten List
cleandata = [y for x in cleandata for y in x]

In [314]:
#Create Dataframe
import pandas as pd

columnnames = ["Year","Date","District","Address","Building","Cause"]
df = pd.DataFrame(columns=columnnames)
df['Year']=cleandata[0::6]
df['Date']=cleandata[1::6]
df['District']=cleandata[2::6]
df['Address']=cleandata[3::6]
df['Building']=cleandata[4::6]
df['Cause']=cleandata[5::6]

In [316]:
df.head(10)

,Year,Date,District,Address,Building,Cause
0,2018,05-14,North Point,Island Place,Block 2,A man fell off the building and died
1,2018,05-10,Diamond Hill,Lung Poon Court,Lung Woo House,A woman burnt charcoal at home
2,2018,05-10,Tseung Kwan O,Sheung Tak Estate,Sheung Ming House,32 years old man fell off the building and died
3,2018,05-10,Ma On Shan,Lei On Court,Lei Wing House,A 60 years old woman fell off the building and...
4,2018,05-09,Tsuen Wan,Tsuen Wan Centre,Shenyang House,A woman burnt charcoal at home
5,2018,05-09,Fo Tan,Sui Wo Court,Court C,70 years old man fell off the building and died
6,2018,05-06,Tai Po,Fu Shing Building,,14 years old man fell off the building and died
7,2018,05-03,Tin Shui Wai,Tin Yat Estate,Yat Yeung Court,50 years old man fell off the building and died
8,2018,04-28,Tuen Mun,Siu Shan Court,Kwai King Court,37 years old man fell off the building and died
9,2018,04-25,Shatin,Scenery Court,,A woman fell off the building and died

In [317]:
df.describe()

        Year   Date  District Address Building Cause
count   5095   5095      5095    5095     5095  5095
unique    34    366       104    2569     1648  2526
top     2017  01-02  Tuen Mun
freq     436     26       391    2032     2105  1665

In [318]:
df.to_csv('hauntedhouse.csv')