In [ ]:
# Clean the scraped Hauntedhouse.csv

In [37]:
import pandas as pd

In [38]:
df=pd.read_csv('hauntedhouse.csv')

In [39]:
df.head(10)

,Unnamed: 0,Year,Date,District,Address,Building,Cause
0,0,2018,05-14,North Point,Island Place,Block 2,A man fell off the building and died
1,1,2018,05-10,Diamond Hill,Lung Poon Court,Lung Woo House,A woman burnt charcoal at home
2,2,2018,05-10,Tseung Kwan O,Sheung Tak Estate,Sheung Ming House,32 years old man fell off the building and died
3,3,2018,05-10,Ma On Shan,Lei On Court,Lei Wing House,A 60 years old woman fell off the building and...
4,4,2018,05-09,Tsuen Wan,Tsuen Wan Centre,Shenyang House,A woman burnt charcoal at home
5,5,2018,05-09,Fo Tan,Sui Wo Court,Court C,70 years old man fell off the building and died
6,6,2018,05-06,Tai Po,Fu Shing Building,NaN,14 years old man fell off the building and died
7,7,2018,05-03,Tin Shui Wai,Tin Yat Estate,Yat Yeung Court,50 years old man fell off the building and died
8,8,2018,04-28,Tuen Mun,Siu Shan Court,Kwai King Court,37 years old man fell off the building and died
9,9,2018,04-25,Shatin,Scenery Court,NaN,A woman fell off the building and died

In [40]:
#Get Day and Month from Date
date=[]
month = []
day = []
for i in df['Date']:
    date.append(i.split("-"))
for i in date:
    month.append(i[0])
for i in date:
    day.append(i[1])

df['Month']=month
df['Day']=day
df =df[['Year','Month','Day','District','Address','Building','Cause']]

In [53]:
#Check for null values:
df = df.dropna(axis=0, subset=['District', 'Address', 'Cause'], thresh=3) 

#drop duplicates
df.drop_duplicates(keep='first',inplace = True)
df = df[df.Address != '20/F Tsui Mei House Tsui Ping Estate']
df = df[df.Address != '15/F Luen Wo Apartment 308, Electric Road']

In [186]:
df.to_csv('cleanedhauntedhouse.csv')

In [59]:
df.duplicated()

True

In [34]:
df.count()

3062

In [43]:
df.head()

,Year,Month,Day,District,Address,Building,Cause
0,2018,05,14,North Point,Island Place,Block 2,A man fell off the building and died
1,2018,05,10,Diamond Hill,Lung Poon Court,Lung Woo House,A woman burnt charcoal at home
2,2018,05,10,Tseung Kwan O,Sheung Tak Estate,Sheung Ming House,32 years old man fell off the building and died
3,2018,05,10,Ma On Shan,Lei On Court,Lei Wing House,A 60 years old woman fell off the building and...
4,2018,05,09,Tsuen Wan,Tsuen Wan Centre,Shenyang House,A woman burnt charcoal at home